---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

I am a junior student from Wuhan, Hubei, studying at the University of Science and Technology of Macau. I consider myself relatively introverted, but I have a passion for traveling and making new friends. I have participated in several internships and have project experience related to finance. Additionally, I am a member of the SPC club at my school.
For my five-year plan, I aim to participate in an internship every summer and work on projects during longer breaks to enhance my personal skills. At the same time, I want to improve my GPA and maintain it.



